.mainpage {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main-container {
  height: 400px;
  background-color: var(--secondary-color);
}

.center-position,
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.lower-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
