.mainpage {
  display: flex;
  flex-direction: column;
}
.main-container {
  height: 400px;
  background-color: var(--secondary-color);
}
.content {
  height: 85vh;
  position: relative;
}

.center-position,
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.lower-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.FLOATING {
  height: inherit;
}

@media screen and (max-width: 760px) {
  .content {
    height: 82vh;
  }
}
