@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
:root {
  --black-color: #000;
  --off-white: #f5f5f5;
  --primary-color: #acacac;
  --secondary-color: #f73030d3;
}
body {
  font-family: "Nunito", sans-serif;
}
